
* {
    font-size: 15px;
}

#cmd_command {
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    margin-left: 20px;
}

button.btn_install{
    padding: 10px;
    font-size: 50px;
    font-weight: bolder;
    border-radius: 10px;
}

#stack_simple {
    background: url('images/bg.png') no-repeat center;
    background-size: 100%;
}

#fixed{
    background: white;
}

#about-image{
    border: 2px solid #000;
    background-color: #fff;
}