
* {
    font-size: 15px;
}

#cmd_command {
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    margin-left: 20px;
}

button.btn_install{
    padding: 10px;
    font-size: 50px;
    font-weight: bolder;
    border-radius: 10px;
}

/*
#about-image{
    border: 2px solid red;
    width: 100px;
}
*/